@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;


  src: url("../fonts/gilroylight.woff2") format("woff2");
  src: url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;


  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  src: url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensanslight.woff2") format("woff2");
  src: url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;


  src: url("../fonts/opensans.woff2") format("woff2");
  src: url("../fonts/opensans.woff") format("woff");
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;


  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.15px;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;
  
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  position: relative;
  z-index: 1;

  display: inline-block;
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 6px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial-Black, sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3.6px;
  vertical-align: middle;

  background: none;
  border: none;
  outline: none;

  cursor: pointer;
}


.button::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 8px;
  margin-top: -4px;

  background-color: #f0c52e;
}

.button:hover::before,
.button:focus::before {
  top: 0;

  height: 100%;
  margin-top: 0;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-container {
  padding-top: 40px;
}

.main-header {
  position: relative;

  display: flex;
  flex-direction: column;
  padding-top: 34px;
  padding-right: 60px;
  padding-bottom: 163px;
  padding-left: 60px;

  color: #000000;

  background-color: rgb(247, 226, 150);
}

.inner-page .main-header {
  padding-bottom: 50px;
}

.header-logo {
  position: absolute;

  width: 163px;
  height: 35px;

  top: -17px;
}

.header-user {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.search-item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 403px;
  padding-left: 38px;
}

.search-item::before {
  content: "";

  position: absolute;
  top: 17px;
  left: 3px;

  width: 16px;
  height: 16px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-line {
  padding: 0;
  padding-top: 9px;
  padding-bottom: 10px;
  min-width: 317px;
  
  font: inherit;

  background-color: transparent;
  border: none;
  outline: none;
}

.search-line::placeholder {
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.15px;
}

.search-line:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-line:focus::placeholder,
.search-line:active::placeholder {
  font-size: 0;
}

.search-line:focus~.search-button,
.search-line:active~.search-button {
  display: block;
}

.search-button {
  position: relative;

  display: none;
  padding: 14px 19px;

  font-weight: 300;

  background-color: transparent;
  border: none;
  border: 2px solid #000000;
  outline: none;
}

.search-button::before {
  content: "";

  position: absolute;
  bottom: -2px;
  right: 100%;

  width: 358px;
  height: 2px;

  background-color: #000000;
}

.search-button:hover,
.search-button:focus {
  color: #ffffff;

  background-color: #000000;
  cursor: pointer;
}

.search-button:active {
  display: block;

  color: rgba(255, 255, 255, 0.3);
}


.user-navigation,
.site-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation a,
.site-navigation a {
  display: block;

  color: #000000;
}

.user-navigation a:hover,
.user-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  opacity: 0.6;
}

.user-navigation a:active,
.site-navigation a:active {
  opacity: 0.3;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.header-user .user-navigation {
  width: 500px;
}

.user-navigation a {
  position: relative;
  padding-left: 26px;
}

.user-navigation a::before {
  content: "";

  position: absolute;

  width: 13px;
  height: 13px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-user a {
  padding-top: 9px;
  padding-bottom: 11px;

}

.header-user .user-login {
  margin-right: 58px;
}

.header-user .user-compare {
  margin-right: 37px;
}

.header-user .login::before {
  top: 18px;
  left: 0;

  background-image: url("../img/user.svg");
}

.header-user .compare::before {
  top: 20px;
  left: 6px;

  background-image: url("../img/compare.svg");
}

.header-user .cart::before {
  top: 18px;
  left: 4px;

  background-image: url("../img/cart.svg");
}

.user-login {
  min-width: 223px;
}

.user-login ul {
  display: flex;
  justify-content: space-between;
  padding: 0;

  list-style: none;
}

.user-login .logout {
  display: none;
  padding-left: 0;
}

.header-user .logout {
  opacity: 0.3;
}

.inner-page .logout {
  display: block;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.nav-item > a {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial Black, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.nav-delivery {
  margin-right: 34px;
}

.nav-waranty {
  margin-right: auto;
}

.nav-contacts {
  margin-right: -4px;
}

.catalog-menu {
  position: relative;

  padding-right: 28px;
  margin-right: 293px;
}

.catalog-menu > a::after {
  content: "";

  position: absolute;
  top: 4px;
  right: 1px;

  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.catalog-menu-wrapper {
  position: absolute;
  top: 24px;
  left: -60px;
  z-index: 2;

  display: none;
  width: 1160px;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 34px;

  background-color: rgb(247, 226, 150);
}

.catalog-menu a:hover~.catalog-menu-wrapper,
.catalog-menu a:focus~.catalog-menu-wrapper {
  display: block;
}

.catalog-menu-wrapper:hover,
.catalog-menu-wrapper:focus {
  display: block;
}

.catalog-menu-list {
  display: flex;
  justify-content: flex-start;

  padding: 0;
  padding-left: 60px;
  width: 553px;

  list-style: none;
}

.catalog-menu-list ul {
  padding: 0;

  list-style: none;
}

.catalog-menu-list ul:nth-of-type(1) {
  margin-right: 59px;
}

.catalog-menu-list ul:nth-of-type(2) {
  margin-right: 76px;
}

.catalog-menu-list a {
  line-height: 36px;
  text-align: left;
}

.slider {
  position: relative;
  z-index: 1;
}

.slider-controls {
  position: absolute;
  right: 73px;
  bottom: 157px;
  z-index: 100;
  
  display: flex;
  justify-content: space-between;
  width: 98px;
  height: 32px;

  font-size: 0;
}

.slider-controls label {
  position: relative;

  width: 12px;
  height: 12px;
  padding: 10px;

  vertical-align: top;
  
  border-radius: 50%;
  cursor: pointer;

}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;

  width: 12px;
  height: 12px;
  
  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: flex;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: flex;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: flex;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::after,
#product-2:checked ~ .slider-controls .slider-controls-item--2::after,
#product-3:checked ~ .slider-controls .slider-controls-item--3::after {
  background-image: url("../img/slider-button.svg");
}

.slider-list {
  position: relative;

  margin: 0;
  margin-top: -113px;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  justify-content: flex-end;

  padding-right: 58px;
}

.slider-image {
  box-sizing: border-box;
  width: 560px;
  min-height: 508px;
  margin-right: 40px;
}

.slider-item-1 .slider-image {
  padding-top: 2px;
  padding-left: 90px;
}

.slider-item-2 .slider-image {
  padding-top: 14px;
  padding-left: 116px;
}

.slider-item-3 .slider-image {
  padding-top: 67px;
  padding-left: 29px;
}

.slider-item-info {
  position: relative;

  padding-top: 81px;
  width: 502px;
  margin: 0;
}

.slider-item-info::before {
  content: "";
  
  position: absolute;
  top: 39px;
  left: 0;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.slider-item-info::after {
  content: "";

  position: absolute;
  top: -12px;
  right: -12px;
  z-index: -1;

  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  font-family: "Gilroy", Arial Black, sans-serif;
  color: #ffffff;
  letter-spacing: 1.79px;
}

.slider-item-1 .slider-item-info::after {
  content: "01";
}

.slider-item-2 .slider-item-info::after {
  content: "02";
  right: -11px;
}

.slider-item-3 .slider-item-info::after {
  content: "03";
  right: -10px;
}

.slider-item h3 {
  margin: 0;
  margin-bottom: 19px;
  
  font-weight: 800;
  font-family: "Gilroy", Arial-Black, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  text-align: left;

}

.slider-item p {
  width: 482px;
  margin: 0;
  margin-bottom: 43px;
}

.slider-item-button {
  width: 220px;
  margin-bottom: 50px;
  padding-left: 4px;
}

.slider-item table {
  border: none;
  border-collapse: collapse;
}

.slider-item td {
  padding: 0;

  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", Century Gothic, sans-serif;
  letter-spacing: 0.36px;
  text-align: left;
}

.slider-item th {
  box-sizing: border-box;
  width: 159px;
  padding: 0;
  padding-top: 7px;
  padding-bottom: 8px;

  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  text-align: left;
}

.slider-item th:nth-child(2) {
  width: 139px;
}

.slider-item th:nth-child(3) {
  padding-left: 2px;
}

.about {
  display: flex;
  justify-content: space-between;
  padding-top: 52px;

  color: #000000;

  background-color: #ffffff;
}

.about-us h2,
.contacts h2 {
  position: relative;

  margin: 0;
  margin-bottom: 43px;
  
  font-weight: 800;
  font-family: "Gilroy", Arial Black, sans-serif;
  font-size: 47px;
  line-height: 48px;
  text-align: left;
  letter-spacing: 0.47px;
}

.about-us h2::before,
.contacts h2::before {
  content: "";

  position: absolute;
  top: -52px;
  left: 2px;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-us p,
.contacts p {
  margin: 0;

  text-align: left;
}

.about-us .button,
.contacts .button {
  width: 260px;
}

.about-us {
  width: 466px;
}

.about-us p:nth-of-type(1) {
  margin-bottom: 30px;
}

.about-us p:nth-of-type(2) {
  letter-spacing: -0.15px;
  margin-bottom: 66px;
}

.transportation {
  padding: 0;
  margin: 0;
  margin-bottom: 54px;

  list-style: none;
}

.transportation li {
  position: relative;

  padding-left: 37px;
  
  font-weight: 800;
  font-family: "Gilroy", Arial Black, sans-serif;
  font-size: 16px;
  line-height: 40px;
}

.transportation li::before {
  content: "";

  position: absolute;
  top: 17px;
  left: 3px;

  width: 4px;
  height: 4px;

  background-repeat: no-repeat;
  background-position: 0 0;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contacts {
  width: 561px;
}

.contacts p {
  margin-bottom: 39px;
}

.contacts .map {
  display: block;
  height: 222px;
  margin-bottom: 69px;
}

.logo a {
  box-sizing: border-box;
  display: block;
  height: 35px;
}

.logo img:hover,
.logo img:focus {
  opacity: 0.6;
}

.logo img:active {
  opacity: 0.3;
}

.breadcrumbs-container {
  padding-top: 37px;
  padding-bottom: 46px;
  padding-left: 59px;
}

.page-title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  
  font-weight: 800;
  font-family: "Gilroy", Arial Black, sans-serif;
  font-size: 47px;
  line-height: 48px;
  text-align: left;
  letter-spacing: 0.47px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;


  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 38px;

  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 9px;
  right: -19px;

  width: 4px;
  height: 7px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  display: block;

  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6)
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.sort {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  
  width: 100%;


  background-color: rgba(0, 0, 0, .08);
}

.sort-line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 759px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 401px;
}

.sort-line h3 {
  margin: 0;
  margin-right: 55px;


  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Arial Black, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.sort-line ul {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;


  list-style: none;
}

.sort-type {
  justify-content: space-between;
  min-width: 286px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  padding-bottom: 4px;
}

.sort-type a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-align: left;
  letter-spacing: 0;

  opacity: 0.3;
}

.sort-type a:hover,
.sort-type a:focus {
  opacity: 0.6;
}

.sort-type a:active {
  opacity: 1;
}

.sort-order {
  justify-content: space-between;
  min-width: 41px;
  margin: 0;
  padding: 0;
}

.sort-order a {
  display: block;
  width: 11px;
  height: 10px;
  
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sort-order a:hover,
.sort-order a:focus {
  opacity: 0.4;
}

.sort-order a:active {
  opacity: 1;
}

.sort-order-up a {
  background-image: url(../img/icon-up-dir.svg);
}

.sort-order-down a {
  background-image: url(../img/icon-down-dir.svg);
}

.sort-current a {
  opacity: 1;
}

.filters {
  position: relative;

  margin-right: 0;
  display: flex;
  flex-direction: column;

  background-color: #efefef;
}

.filter::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  width: 100vw;
  height: 100%;

  background-color: #efefef;
}

.filter-title {
  box-sizing: border-box;
  width: 328px;
  margin: 0;
  padding-top: 23px;
  padding-right: 68px;
  padding-bottom: 23px;
  padding-left: 60px;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Arial Black, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.filter {
  width: 201px;
  padding-top: 69px;
  padding-right: 68px;
  padding-left: 59px;
}

.filter ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
  border: none;
}

.filter legend {
  width: 100%;
  padding-top: 10px;
  margin-bottom: 18px;

  font-weight: 800;
  font-family: "Gilroy", Arial Black, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;

  border-top: 2px solid #000000;
}

.filter-price legend {
  margin-bottom: 21px;
}

.range-filter {
  font-weight: 300;
  font-family: "Gilroy", Century Gothic, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: rgba(0, 0, 0, 0.2);
}

.range-controls {
  position: relative;

  height: 14px;
  padding-top: 14px;
  padding-left: 4px;
  margin-bottom: -3px;
}

.range-controls .scale {
  height: 2px;

  background: #dbdbdb;
}

.range-controls .bar {
  width: 60%;
  height: 2px;

  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: 4px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle:active {
  border-width: 9px;
}

.range-controls .toggle-min {
  left: -5px;
}

.range-controls .toggle-max {
  left: 108px;
}

.price-controls {
  font-size: 0;
  line-height: 0;
  padding-bottom: 3px;
}

.price-controls label {
  display: inline-block;
  min-width: 27px;
  font-size: 14px;
  line-height: 24px;
}

.price-controls input {
  width: 72px;

  background-color: transparent;
  border: none;

  font-weight: 300;
  font-family: "Gilroy", Century Gothic, sans-serif;
  font-size: 14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.2);
}

.filter-option {
  padding-left: 39px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;

  font-size: 14px;
  line-height: 40px;
  text-align: left;
}

.filter-input:hover + label::before,
.filter-input:focus + label::before {
  opacity: 0.6;
}

.filter-input:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-input:active + label::before {
  opacity: 1;
}

.filter-input:disabled + label {
  color: #a6a6a6;
  cursor: default;
}

.filter-input:disabled + label::before {
  opacity: 0.25;
}

.filter-input-checkbox + label::before {
  content: "";

  position: absolute;
  top: 8px;
  left: -40px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  width: 27px;

  background-image: url("../img/checkbox-on.svg");
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  top: 7px;
  left: -40px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-button {
  width: 200px;
}

.catalog {
  background-color: #ffffff;
}

.catalog-list {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  width: 760px;
  margin: 0;
  margin-top: 70px;
  padding: 0;
  padding-top: 69px;
  padding-left: 72px;

  list-style: none;
}

.catalog-item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  width: 360px;
  min-height: 460px;
  margin-right: 40px;
  margin-bottom: 46px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:nth-last-child(1),
.catalog-item:nth-last-child(2) {
  margin-bottom: 35px;
}

.catalog-item .flag {
  position: absolute;
  top: 29px;
  right: 27px;
  z-index: 20;

  display: none;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 17px 9px 19px 11px;

  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", Arial Black, sans-serif;
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.catalog-item .flag-new {
  display: block;
}

.catalog-item-actions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  box-sizing: border-box;
  width: 360px;
  height: 380px;
  padding: 0 40px;
  padding-top: 172px;

  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item:hover .catalog-item-actions,
.catalog-item:focus .catalog-item-actions {
  display: block;
}

.catalog-item-actions button {
  display: block;
  margin: 0 auto;
  padding-left: 37px;
  padding-right: 39px;
}

.compare-add {
  font-size: 13px;
  line-height: 36px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);

  background-color: transparent;
  border: none;
}

.compare-add:hover,
.compare-add:focus {
  color: #000000;

  cursor: pointer;
}

.compare-add:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item-image {
  display: block;
  width: 360px;
  height: 380px;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-item-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.catalog-item h3 {
  width: 260px;
  margin: 0;
  padding: 0;
}

.catalog-item a {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial Black, sans-serif;
  color: #000000;
  text-align: left;
  letter-spacing: 0.18px;
}

.catalog-item-title {
  display: block;
  word-wrap: break-word;
}

.catalog-item-price {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Century Gothic, sans-serif;
  color: #464646;
  text-align: right;
  letter-spacing: 0.16px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 760px;
  margin-bottom: 77px;
  margin-left: 72px;
  
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Arial Black, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.2px;

  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 89px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  padding-top: 4px;

  list-style: none;
}

.pagination-item a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: #000000;
}

.pagination-item-current a {
  color: #000000;
}


.pagination-button {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 22px;
  font: inherit;
  text-transform: uppercase;
  letter-spacing: 3.2px;

  background-color: transparent;
  border:none;
  outline: none;

  cursor: pointer;
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-button-back {
  text-align: left;
  padding-right: 28px;
  padding-left: 30px;
  margin-right: 211px;
}

.pagination-button-forward {
  text-align: right;
  padding-right: 28px;
  padding-left: 32px;
}

@keyframes bounce {
  0% {
    transform: translateY(2000px);
  }

  70% {
    transform: translateY(-30px);
  }

  90% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;

  color: #000000;
  
  display: none;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal-show {
  display: block;
  animation: bounce 0.7s;
}

.modal-error {
  animation: shake 0.7s;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 4;

  width: 55px;
  height: 55px;

  font-size: 0;
  
  opacity: 0.5;
  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;

  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.3;
}

.modal-feedback {
  top: 50px;
  left: 50%;
  z-index: 2;

  width: 760px;
  padding-top: 93px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 80px;
  margin-left: -480px;
}

.feedback {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.feedback-item {
  display: flex;
  flex-direction: column;
}

.feedback label {
  margin-bottom: 7px;

  font-weight: 800;
  font-family: "Gilroy", Arial Black, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: left;
}

.feedback input[type="text"],
.feedback input[type="email"],
.feedback textarea {
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 17px;
  
  font-weight: 400;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);

  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.feedback input[type="text"]:hover,
.feedback input[type="email"]:hover,
.feedback textarea:hover {
  background-color: #eaeaea;
}

.feedback input[type="text"]:focus,
.feedback input[type="email"]:focus,
.feedback textarea:focus {
  color: rgba(70, 70, 70, 1);

  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px rgba(240, 197, 46, 0.5);
}

.feedback input[type="text"]:invalid,
.feedback input[type="email"]:invalid,
.feedback textarea:invalid {
  background-color: #f6dada;

  box-shadow: none;
}

.feedback input[type="text"],
.feedback input[type="email"] {
  width: 360px;
  margin-bottom: 33px;
}

.feedback textarea {
  resize: none;
  width: 760px;
  min-height: 156px;
  margin-bottom: 41px;
}

.feedback .button {
  width: 200px;
}

.modal-map {
  z-index: 2;

  top: 50%;
  left: 50%;

  width: 960px;
  height: 559px;
  margin-top: -280px;
  margin-left: -480px;
}

.modal-map iframe {
  position: relative;
  z-index: 3;

  border: none;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.main-footer {
  margin-top: 82px;
  padding-top: 60px;
  padding-bottom: 66px;

  color: #ffffff;

  background-color: #464646;
}

.inner-page .main-footer {
  margin-top: 0;
}

.main-footer .container {
  display: flex;
  flex-direction: column;
}

.footer-user {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 26px;
}

.footer-logo {
  align-self: center;

  width: 163px;
  height: 35px;
}

.footer-user .user-navigation {
  width: 478px;
}

.footer-user a {
  padding-bottom: 8px;

  color: rgba(255, 255, 255, 0.7);
  line-height: 2.4em;

  opacity: 1;
}

.footer-user a:hover,
.footer-user a:focus {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}

.footer-user a:active {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user a:hover::before,
.footer-user a:focus::before {
  opacity: 0.6;
}

.footer-user a:active::before {
  opacity: 0.3;
}

.footer-user .user-login {
  margin-right: 37px;
  text-align: right;
}

.footer-user .user-compare {
  margin-right: 36px;
}

.footer-user .logout {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user .login::before {
  top: 12px;
  left: 0;

  background-image: url("../img/user-footer.svg");
}

.footer-user .compare::before {
  top: 14px;
  left: 6px;

  background-image: url("../img/compare-footer.svg");
}

.footer-user .cart::before {
  top: 12px;
  left: 5px;

  background-image: url("../img/cart-footer.svg");
}

.footer-conditions {
  display: flex;
  font-weight: wrap;
  justify-content: space-between;
  margin-bottom: 62px;
}

.footer-conditions a {
  padding-top: 6px;
  padding-left: 3px;
  color: #ffffff;
}

.footer-conditions .site-navigation {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-conditions .nav-delivery {
  margin-right: 31px;
}

.footer-conditions .nav-waranty {
  margin-right: 30px;
}

.footer-conditions .nav-item:last-child {
  margin-right: 0;
}

.footer-conditions p {
  min-width: 220px;
  margin: 0;
  
  letter-spacing: 0;
}

.phone {
  text-align: right;
}

.phone a {
  padding: 5px 0;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.footer-social::before {
  content: "";

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.social-buttons {
  display: flex;
  justify-content: space-between;

  min-width: 142px;
  margin: 0;
  margin-right: auto;
  margin-left: 429px;
  padding: 0;
  list-style: none;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.social-button:hover,
.social-button:focus {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.facebook {
  background-image: url("../img/facebook.svg");
}

.instagram {
  background-image: url("../img/instagram.svg");
}

.twitter {
  background-image: url("../img/twitter.svg");
}

.footer-copyright {
  display: block;
  width: 27px;
  height: 35px;
}

.footer-copyright img:hover,
.footer-copyright img:focus {
  opacity: 0.6;
}

.footer-copyright img:active {
  opacity: 0.3;
}